# python
__pycache__
*.py[cod]
build
dist
*.egg-info

# testing
_coverage
.coverage
.tox/*

# documentation
docs/_build/*

# debian
debian/*
!debian/changelog
!debian/compat
!debian/control
!debian/copyright
!debian/install
!debian/rules
!debian/source
!debian/squarepig.desktop
