Source: squarepig
Section: utils
Priority: optional
Maintainer: Tablet Mode <tablet-mode@monochromatic.cc>
Build-Depends: debhelper (>=9), python3, python3-setuptools, python-tox
Standards-Version: 3.9.5
X-Python3-Version: >= 3.2
Homepage: https://github.com/tablet-mode/squarepig

Package: squarepig
Architecture: any
Depends: ${misc:Depends}, ${python3:Depends}, python3-pyqt4 (>=4.9.1), python3-bs4 (>=4.0.2), python3-xdg (>=0.25)
Description: Squarepig playlist mangler
 Squarepig takes files from a playlist and copies those files to a target folder in the order they are listed in the playlist and prepends the filenames with consecutive numbers.
