[Desktop Entry]
Type=Application
Version=0.2.0
Name=Square Pig 
Comment=Square Pig playlist mangler
Icon=squarepig
Path=/usr/bin/squarepig
Categories=Tools;
