[Desktop Entry]
Type=Application
Version=0.3.0
Name=Squarepig 
Comment=Squarepig playlist mangler
Icon=squarepig
Path=/usr/bin/squarepig
Categories=Tools;
